#divImageList {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
    row-gap: 15px;
    /*background-color: green;*/
}

#divImageList > .divImageItem {
    width: 49%;
    min-width: 450px;
    height: auto;
    display: inline-flex;
    flex-flow: column nowrap;
    background-color: #FAFAFA;
    border: solid #DBDBDB;
}

#divImageList > .divImageItem > .divImage {
    max-height: 300px;
    text-align: left;
}

#divImageList > .divImageItem > .divImage img {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

#divImageList > .divImageItem > .divImage span {
    position: center;
}

#divImageList > .divImageItem > .divPhotoInfo {
    margin: 5px;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}

.text-link:hover {
    text-decoration: underline;
}

.comment {
    margin-bottom: 8px;
}

.comment-date {
    color: #8E8E8E;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: smaller;
}

